<!DOCTYPE html>
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Zerodha-Task</title>

    <link rel="icon" type="image/png" href="https://zerodha.com/static/images/favicon.png">

    <!--suppress CssUnusedSymbol -->
    <style>
        .v-application--wrap {
            display: block;
        }
    </style>
</head>

<body>
<div id="app">
    <v-app>
        <v-toolbar flat app style="padding: 16px; height: fit-content;">
            <v-toolbar-title class="headline text-uppercase" style="width: 100%; text-align: center;">
                <span style="font-weight: bold">Zerodha-Task</span>
            </v-toolbar-title>
        </v-toolbar>

        <v-main>
            <v-container>
                <v-row style="justify-content: center;">
                    <v-col cols="12">
                        <v-card style="text-align: center">
                            <v-card-title style="margin-bottom: 16px">
                                Bhavcopy (Equity)
                                <v-spacer></v-spacer>
                                <v-text-field
                                        style="padding-top: 0"
                                        v-model="search"
                                        append-icon="mdi-magnify"
                                        label="Search"
                                        single-line
                                        hide-details
                                        {% comment %}@input="handleOnChange"{% endcomment %}
                                ></v-text-field>
                            </v-card-title>

                            <v-data-table
                                    id="dataTable"
                                    :headers="headers"
                                    :items="tuples"
                                    :items-per-page="10"
                                    class="elevation-1"
                                    :search="search"
                                    style="box-shadow: none !important;"
                                    loading
                            ></v-data-table>

                            <v-row justify="center">
                                <v-btn color="success" class="mr-6" style="margin: 16px" @click="export_csv()">
                                    Export <i class="mdi mdi-export-variant" aria-hidden="true"></i>
                                </v-btn>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row style="padding-top: 16px; padding-bottom: 16px; justify-content: center;">
                    <v-btn icon large href="https://github.com/imlegend19/Zerodha-Task" target="_blank">
                        <img width="32px" height="32px"
                             src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/github.svg"
                             alt="gh"/>
                    </v-btn>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            search: '',
            headers: [
                {text: 'Code', value: 'code', align: 'center', sortable: false},
                {text: 'Name', value: 'name', align: 'center'},
                {text: 'Open', value: 'open', align: 'center'},
                {text: 'High', value: 'high', align: 'center'},
                {text: 'Low', value: 'low', align: 'center'},
                {text: 'Close', value: 'close', align: 'center'},
            ],
            tuples: [],
        },
        async mounted() {
            this.fetchAll();
        },
        methods: {
            fetch(url) {
                axios
                    .get(url)
                    .then(response => {
                        this.tuples = response.data;

                        // removing loader
                        for (let ele of document.getElementsByClassName("v-data-table__progress")) {
                            ele.remove();
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true
                    })
                    .finally(
                        () => this.loading = false
                    );
            },
            fetchAll() {
                this.fetch(`/api/fetch_all`);
            },
            queryRedis(query) {
                this.fetch(`/api/search/${query}`);
            },
            export_csv() {
                let rows = ["code,name,open,high,low,close"];

                this.tuples.forEach(
                    (row) => {
                        rows.push([row.code, row.name, row.open, row.high, row.low, row.close].join(","))
                    }
                )

                let csvFile = new Blob([rows.join("\n")], {type: "text/csv"});

                let downloadLink = document.createElement("a");
                downloadLink.download = "results.csv";
                downloadLink.href = window.URL.createObjectURL(csvFile);
                downloadLink.style.display = "none";

                document.body.appendChild(downloadLink);

                downloadLink.click();
            }
        }
    });
</script>
</body>
</html>
